.headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header-wrapper-size);
    z-index: var(--header-z-index);
    
}
.header {
    position:absolute;
    top: 0;
    width: 100%;
    background: var(--header-colour);
    font-size: 2.5rem;
    padding: var(--header-padding);
    height: calc(var(--header-size) - var(--header-padding) - var(--header-padding));
    
}

.breadcrumbs {
    position: absolute;
    top: var(--header-size);
    height: calc(var(--header-breadcrumbs-size)  - var(--header-padding) - var(--header-padding));
    width: calc(100vw - var(--header-padding) - var(--header-padding));
    padding: var(--header-padding) var(--header-padding) var(--header-padding) calc(var(--menu-closed-size) + var(--header-padding));
    background: var(--logo-blue);
    overflow-x: scroll;
    white-space: nowrap;
    box-shadow: 0px 3px 5px #0003;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
}

.breadcrumbs ul li {
    display: inline-flex;
    margin-right: 5px;
    color: var(--header-colour);
    padding: 2px;
    border-radius: 2px;
    cursor:default;
}

.breadcrumbs ul li:nth-child(odd) {
    cursor:pointer;
}

.breadcrumbs ul li:nth-child(odd):hover {
    color: var(--logo-blue);
    background: var(--header-colour);
}


.menuIconWrapper {
    display: inline-flex;
    height: calc(var(--header-size) - var(--header-padding) - var(--header-padding));
    margin-right: 1rem;
    
    user-select: none;
}

.menuIcon {
    top: 50%;
    margin: 0;
    width: calc(var(--menu-closed-size) - var(--menu-hpadding) - var(--menu-hpadding));
    text-align:center;
}
.menuIcon svg {
    display: inline-flex;
    font-size: 1.5rem;
    padding: 2px 4px;
    color: var(--logo-blue);
    border-radius: 5px;
    cursor: pointer;
}

.menuIcon svg:hover {
    background: var(--light-blue);
    /* color: var(--header-colour); */
}

.logo {
    display: inline-flex;
    height: calc(var(--header-size) - var(--header-padding) - var(--header-padding));
    margin-right: 1rem;
}

.logoImg {
    height: 2.5rem;
    position: relative;
    top: var(--header-padding);
    left: var(--header-padding);
}
