@import-normalize; /* bring in normalize.css styles */

:root {
    --light-blue: #cedcff;

    --main-background-colour: #eceff0;

    --logo-blue: #195afa;
    --header-wrapper-size: 95px;
    /* if toolbar is enabled --header-wrapper-size: 120px; */
    --header-size: 60px;
    --header-toolbar-size: 60px;
    --header-padding: 5px;
    --header-z-index: 500;
    --header-colour: #ffffff;
    --header-toolbar-colour: #ff8100;
    --header-menu-icon-size: 30px;
    --header-breadcrumbs-size: 35px;
    --header-breadcrumbs-z-index: 400;

    --menu-z-index: 450;
    --menu-closed-size: 50px;
    --menu-hpadding: 5px;
    --menu-li-padding: 5px;

    --content-padding: 1rem;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
    background: var(--main-background-colour);
}

a {
    color: inherit;
    text-decoration: none;
}